body {
  font-family: sans-serif;
  background-color: #5594ad;
}

.jumbotron {
  text-align: center;
  margin: 0;
  padding: 10px;
  background-color: #5594ad;
  color: #faf47a;
  border-radius: 0;
  border-bottom: 7px solid rgb(87, 85, 81);
  /* border-top: 7px solid rgb(87, 85, 81); */
}

.row {
  margin: 30px 20px;
  padding: 25px;
  color: rgb(79, 78, 77);
}

#currentConditions,
.icon {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: 20px;
  text-align: center;
  vertical-align: top;
}

h5 {
  color: #5594ad;
}

h2 {
    font-weight: 400;
}

.search-section {
    padding: 20px;
}


